﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["CurrentRoles"] = this.Context.Session.GetString("CurrentRoles");
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Carpool</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicons/favicon.ico">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/vendors/plyr/plyr.css" rel="stylesheet">
    <link href="~/css/theme-rtl.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

        <nav class="navbar navbar-expand-sm fixed-top py-0 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center fw-bold fs-2" asp-controller="Home" asp-action="Index"> <img class="d-inline-block align-top img-fluid" src="assets/img/gallery/logo-icon.png" alt="" width="50" /><span class="text-primary fs-4 ps-2">Carpool</span></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-600" href="#featuresVideos">Video</a>
                        </li>
                        <li class="nav-link active">
                            <a asp-controller="Travel" asp-action="Index">Travels</a>
                        </li>

                    </ul>
                    @if (!(bool)this.ViewData["isAuthenticated"])
                    {

                        <form class="ps-lg-5">
                            <a class="btn btn-lg btn-outline-primary order-0" asp-controller="User" asp-action="Login">Sign In</a>
                        </form>
                    }
                    else
                    {
                        <div class="dropdown">
                            <a data-bs-toggle="dropdown" id="dropDownUser1">
                                <img class="rounded-circle" src="~/img/icons/1200px-Circle-icons-profile.svg.png" alt="Submit" width="48" height="48">
                                
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropDownUser1">
                                <li>
                                    <a class="dropdown-item" asp-controller="User" asp-action="MyTravels">My Travels</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="User" asp-action="">My Travels</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="User" asp-action="FutureTravels">Ongoing Travels</a>
                                </li>
                                
                            </ul>  
                        </div>
                        <form>
                            <a asp-controller="User" asp-action="Logut"></a>
                        </form>
                        <a class="btn btn-lg btn-outline-primary order-0" asp-controller="User" asp-action="Logout">Sign out</a>
                    }

                </div>

            </div>
        </nav>



        <!-- ============================================-->

        @RenderBody()
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/vendors/_popperjs/popper.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendors/is/is.min.js"></script>
    <script src="~/vendors/plyr/plyr.polyfilled.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
