﻿@using Microsoft.AspNetCore.Http

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Rating</th>
            <th scope="col">Starting Point</th>
            <th scope="col">Ending Point</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Free seats</th>
            <th scope="col">Additional Info</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    @{

        foreach (var travel in this.Model)
        {
            <tbody>
                    <tr class="table-secondary">
                        <td scope="row">@travel.TravelId</td>
                        <td scope="row">@travel.UserName</td>
                        <td scope="row">@travel.AverageRating</td>
                        <td scope="row">@travel.StartCity</td>
                        <td scope="row">@travel.EndCity</td>
                        <td scope="row">@travel.DepartureTime</td>
                        <td scope="row">@travel.FreeSeats</td>
                        <td scope="row">@travel.AdditionalInfo</td>
                        <td scope="row">@travel.Price</td>
                        <td scope="row">
                            <a asp-action="Apply" asp-route-number="@travel.TravelId" class="btn btn-primary">Apply</a>
                            <a asp-action="GetAllPassengers" asp-route-number="@travel.TravelId" class="btn btn-secondary">Passengers</a>
                            <a asp-action="GetAllApplicants" asp-route-number="@travel.TravelId" class="btn btn-secondary">Applicants</a>
                            <a asp-action="Update" asp-route-number="@travel.TravelId" class="btn btn-secondary">Update</a>
                        </td>
                    </tr>
            </tbody>
        }
    }
</table>