﻿@using Microsoft.AspNetCore.Http

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            @*<th scope="col">Rating</th>*@
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    @{
        foreach (var user in this.Model)
        {
            <tbody>
                    <tr class="table-secondary">
                        <td scope="row">@user.UserId</td>
                        <td scope="row">@user.Username>
                        @*<td scope="row">@user.Rating</td>*@
                        <td scope="row">@user.FirstName</td>
                        <td scope="row">@user.Email</td>
                        <td scope="row">
                           @* <a asp-action="Apply" asp-route-number="@travel.TravelId" class="btn btn-primary">Apply</a>*@
                        </td>
                    </tr>
            </tbody>
        }
    }
</table>p