﻿@using Microsoft.AspNetCore.Http
@model CarpoolingProject.Models.RequestModels.UpdateTravelRequestModel
    <br />
    <br />
<h1 id="center-h1">Update Travel</h1>"
<partial name="Update_TableView" />
        