﻿@using Microsoft.AspNetCore.Http

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    @{

        foreach (var user in this.Model)
        {
            <tbody>
                <tr class="table-secondary">
                    <td scope="row">@user.UserId</td>
                    <td scope="row">@user.Username</td>
                    <td scope="row">@user.FirstName</td>
                    <td scope="row">@user.LastName</td>
                    <td scope="row">@user.Email</td>
                    <td scope="row">
                        <a asp-action="Block" asp-route-number="@user.UserId" class="btn btn-primary">Block</a>
                    </td>
                    <td scope="row">
                        <a asp-action="UnBlock" asp-route-number="@user.UserId" class="btn btn-primary">UnBlock</a>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
