﻿@using Microsoft.AspNetCore.Http;
@model CarpoolingProject.Models.RequestModels.CreateTravelRequestModel

@{
    ViewData["Title"] = "Home Page";
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["CurrentRoles"] = this.Context.Session.GetString("CurrentRoles");
}
<!DOCTYPE html>
<div class="text-center">

    @*<div id="firstPage" class="bg-holder d-none d-md-block">*@
</div>
<section id="FirstPage">
    <!--/.bg-holder-->
    @if (!(bool)this.ViewData["isAuthenticated"])
    {
        <div class="container position-relative">
            <div class="row align-items-center min-vh-75 my-lg-8">
                <div class="col-md-7 col-lg-6 text-center text-md-start py-8">
                    <h1 class="mb-4 display-1 lh-sm">Travel to<br class="d-block d-lg-none d-xl-block" />your desired location</h1>
                    <p class="mt-4 mb-5 fs-1 lh-base">Meet new people,make new connections</p><a class="btn btn-lg btn-primary hover-top" asp-controller="User" asp-action="Register" role="button">Sign Up Now</a>

                </div>
            </div>
        </div>
    }
    else
    {
        <p class="mt-4 mb-5 fs-1 lh-base">Create Travels and connect with people</p>
        <form>
            <a class="btn btn-lg btn-primary" asp-controller="Travel" asp-action="Create">Create Travel</a>

        </form>
    }

</section>


@*<section id="booking">
        <div class="bg-holder" style="background-image:url(assets/img//gallery/booking.png);background-position:center;background-size:cover;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 py-8 text-white">
                    <div class="d-flex flex-column flex-center">
                        <h2 class="text-white fs-2 fs-md-3">WE WILL SEE YOU</h2>
                        <h1 class="text-white fs-2 fs-sm-4 fs-lg-7 fw-bold">Enjoy 30% Off On First Trip</h1>
                    </div>
                    <form class="row gy-2 gx-md-2 gx-lg-4 flex-center my-6">
                        <div class="col-6 col-md-3">
                            <label asp-for="CreatorId" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="CreatorId" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="CreatorId" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="StartCity" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="StartCity" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="StartCity" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="StartStreet" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="StartStreet" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="StartStreet" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="EndCity" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="EndCity" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="EndCity" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="EndStreet" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="EndStreet" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="EndStreet" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="DepartureTime" class="visually-hidden" for="date">Date</label>
                            <input asp-for="DepartureTime" class="form-control" id="date">
                        </div>
                        <div class="col-6 col-md-3">
                            <label asp-for="FreeSpots" class="visually-hidden" for="inlineFormSelectPref">Destinations</label>
                            <input asp-for="FreeSpots" class="form-label" id="inlineFormSelectPref">
                            <span asp-validation-for="FreeSpots" class="form-check"></span>
                        </div>
                        <div class="col-6 col-md-auto">
                           <input type="submit" value="Create travel" class="btn btn-lg btn-primary">Book Now</>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@
<section class="pt-5" id="featuresVideos">

    <div class="container">
        <div class="row flex-center mb-5">
            <div class="col-lg-8 text-center">
                <h1 class="fw-bold fs-md-3 fs-lg-4 fs-xl-5">What is carpooling</h1>
                <hr class="mx-auto text-primary my-4" style="height:3px; width:70px;" />
                <p class="mx-auto">Aliquam sodales vitae ex tincidunt consectetur. Etiam eleifend malesuada magna, at imperdiet justo euismod eu. Aliquam vel imperdet mi, et convallis eros. Duis fermentum fringilla nisl at vulputate. Nunc nec lorem faucibus, molestie nisi id, elementum sem. Sed vulputate tempor augue a efficitur urna, ultrices eu. Duis vel turpis et arcu.</p>
            </div>
        </div>
        <div class="row flex-center">
            <div class="col-12">
                <div class="carousel slide" id="carouselExampleIndicators" data-bs-touch="false" data-bs-interval="false">
                    <div class="row align-items-center">
                        <div class="col-12 col-xxl-7 px-2">
                            <div class="carousel-inner">
                                <div class="carousel-item active h-100">
                                    <div id="player" class="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY">
                                        <iframe src="https://www.youtube.com/watch?v=jwaKRhPY4Zo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

