﻿@{
    ViewData["Title"] = "Register";
}
@model CarpoolingProject.Models.RequestModels.CreateUserRequestModel

<h2>Register</h2>

<form asp-action="Register">
    <div>
        <label asp-for="Email" class="form-label"></label>
        <br />
        <input asp-for="Email" class="form-input" />
        <span asp-validation-for="Email" class="form-error"></span>
    </div>
    <div>
        <label asp-for="FirstName" class="form-label"></label>
        <br />
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="LastName" class="form-label"></label>
        <br />
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="UserName" class="form-label"></label>
        <br />
        <input asp-for="UserName" class="form-input" />
        <span asp-validation-for="UserName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <br />
        <input asp-for="Password" type="password" class="form-input" />
        <span asp-validation-for="Password" class="form-error"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <br />
        <input asp-for="ConfirmPassword" type="password" class="form-input" />
        <span asp-validation-for="ConfirmPassword" class="form-error"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber" class="form-label"></label>
        <br />
        <input asp-for="PhoneNumber" class="form-input" />
        <span asp-validation-for="PhoneNumber" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="Register" class="btn-primary" />
        <input type="submit" value="Login" class="btn-primary" />
    </div>
</form>
